---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("recipes");

  return blogEntries.map((entry) => ({
    params: { recipe: entry.id },
    props: { entry, data: entry.data },
  }));
}
const { entry } = Astro.props;

const { ingredients, metadata, steps } = entry.data;

// const title = entry.data.title || slug;
---

<footer class="mt-auto p-4 text-center">
  <p class="text-neutral-600"></p>
</footer>

<!-- Debug section blocks -->
<div slot="debug" class="p-4">
  <h3 class="mb-4 text-lg font-semibold">Ingredients</h3>

  <ul class="list-inside list-disc">
    {
      ingredients.map(({ name, quantity, units }) => (
        <li>
          {quantity} {units} {name}
        </li>
      ))
    }
  </ul>
</div>

<div slot="steps" class="p-4">
  <h3 class="mb-4 text-lg font-semibold">Steps</h3>

  {
    steps.map((step, index) => (
      <div class="mb-4">
        <h4 class="mb-2 text-lg font-semibold">Step {index + 1}</h4>
        {step.map((stepItem, i) => {
          if (stepItem.type === "text") {
            return <span>{stepItem.value}</span>;
          } else if (stepItem.type === "ingredient") {
            return (
              <span>
                {stepItem.quantity} {stepItem.units} {stepItem.name}
              </span>
            );
          }
          // Add a space or other separator after each part of the step, except the last one
          if (i < step.length - 1) {
            return <span>, </span>;
          }
        })}
      </div>
    ))
  }
</div>

