---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import AboutSection from "../components/about/AboutSection.astro";
import SocialProfiles from "../components/social/SocialProfiles.astro";
import SubstackEmbed from "../components/SubstackEmbed.astro";

export function randomGradient() {
  const deg = Math.floor(Math.random() * 360);
  const color1 = '#' + Math.floor(Math.random()*1048575 + 1048576).toString(16);
  const color2 = '#' + Math.floor(Math.random()*1048575 + 1048576).toString(16);
  return `linear-gradient(${deg}deg, ${color1}, ${color2})`;
}

const blogs = (await getCollection("logseq")).sort((a, b) => {
  if (!a.data.date && !b.data.date) return 0;
  if (!a.data.date) return 1;
  if (!b.data.date) return -1;
  return b.data.date.valueOf() - a.data.date.valueOf();
});

const posts = blogs.filter(
  (post) =>
    post.data.tags &&
    (post.data.tags.includes("blog") || post.data.tags.includes("newsletter"))
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
        <section class="space-y-8">
          <AboutSection aboutDescription={"test"} />
          <div>
            <h2 class="text-3xl sm:text-5xl font-bold">Social Media</h2>
            <SocialProfiles />
          </div>
          <SubstackEmbed title="Subscribe" substack />
          <div>
            <h2 class="text-4xl sm:text-5xl font-bold mb-4">Blog</h2>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
              {
                posts.map((post, index) => (
                  <li class={`${index === 0 ? 'sm:col-span-2 lg:col-span-3 text-center' : ''} mb-2 sm:mb-2`}>
                    <a href={`/${post.slug}`} class="block p-4 rounded-lg transition duration-200 ease-in-out hover:bg-gray-100">
                      {post.data.coverimage ? (
                        <Image
                          width={720}
                          height={360}
                          src={post.data.coverimage}
                          alt=""
                          class="object-cover h-[260px] mb-2 w-full rounded-lg shadow-md transition duration-200 ease-in-out hover:shadow-lg"
                        />
                      ) : (
                        <div style={`background: ${randomGradient()};`} class="h-[260px] rounded-lg mb-2"></div>
                      )}
                      <h4 class={`${index === 0 ? 'text-xl sm:text-3xl' : 'text-lg sm:text-lg'} font-bold mt-4 line-clamp-3 transition duration-200 ease-in-out hover:text-accent`}>
                        {post.data.blogtitle}
                      </h4>
                      <p class="text-gray-500 text-sm">
                        <FormattedDate date={post.data.date} />
                      </p>
                      <p class="text-gray-600 mt-2 mb-4 text-base leading-relaxed">
                        {post.data.description}
                      </p>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>