---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { format } from 'date-fns';

export function randomGradient() {
  const deg = Math.floor(Math.random() * 360);
  const color1 = '#' + Math.floor(Math.random()*1048575 + 1048576).toString(16);
  const color2 = '#' + Math.floor(Math.random()*1048575 + 1048576).toString(16);
  return `linear-gradient(${deg}deg, ${color1}, ${color2})`;
}

const blogs = (await getCollection("logseq")).sort((a, b) => {
  if (!a.data.date && !b.data.date) return 0;
  if (!a.data.date) return 1;
  if (!b.data.date) return -1;
  return b.data.date.valueOf() - a.data.date.valueOf();
});

const posts = blogs.filter(
  (post) =>
    post.data.blogtitle || post.data.title
);

type PostsObject = {
  [key: string]: any[];
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-4xl mx-auto p-4 sm:px-6 lg:px-8 py-12">
      <section class="space-y-12">
        <div>
          <h2 class="text-4xl font-bold mb-8">All Pages</h2>
          {
            Object.entries(posts.reduce((acc: PostsObject, post) => {
              const monthYear = format(new Date(post.data.date), 'MMMM yyyy');
              if (!acc[monthYear]) {
                acc[monthYear] = [];
              }
              acc[monthYear].push(post);
              return acc;
            }, {})).map(([monthYear, posts]) => (
              <div class="mb-4">
                <h3 class="text-2xl font-bold mb-4">{monthYear}</h3>
                <ul class="space-y-2">
                  {
                    posts.map((post) => (
                      <li>
                        <a class="flex items-center p-3 rounded-lg transition-all duration-200 hover:bg-gray-100" href={`/${post.slug}`}>
                          {post.data.coverimage ? (
                            <Image
                              width={80}
                              height={80}
                              src={post.data.coverimage}
                              alt=""
                              class="flex-shrink-0 w-20 h-20 rounded-lg object-cover mr-4"
                            />
                          ) : (
                            <div style={`background: ${randomGradient()};`} class="flex-shrink-0 w-20 h-20 rounded-lg mr-4"></div>
                          )}
                          <div>
                            <h4 class="text-lg font-medium mb-1">
                              {post.data.blogtitle || post.data.title}
                            </h4>
                            <p class="text-sm text-gray-500 mb-2">
                              <FormattedDate date={post.data.date} />
                            </p>
                            <p class="text-sm text-gray-600 line-clamp-2">
                              {post.data.description}
                            </p>
                          </div>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>