---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import defaultImage from "../assets/0521775019.01._SCLZZZZZZZ_SX500_1671236538109_0.jpg";

const posts = (await getCollection("blog")).sort((a, b) => {
  if (!a.data.pubDate && !b.data.pubDate) return 0;
  if (!a.data.pubDate) return 1;
  if (!b.data.pubDate) return -1;
  return b.data.pubDate.valueOf() - a.data.pubDate.valueOf(); // normal comparison
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .placeholder {
        width: 720px;
        height: 360px;
        filter: blur(20px);
      }
    </style>
    <style>
      /* main {
        width: 960px;
      } */
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
  
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4 {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="w-full max-w-[1000px]">
      <section class="space-y-8">
          <ul>
            {
              posts.map((post) => (
                <li class="mb-24 md:mb-2">
                  <a href={`/${post.slug}`}>
                    {post.data.heroImage ? (
                      <Image
                        width={720}
                        height={360}
                        src={post.data.heroImage}
                        alt=""
                        style={{ objectFit: "cover", height: "360px" }}
                      />
                    ) : (
                      <Image
                        width={720}
                        height={360}
                        src={defaultImage}
                        alt=""
                        style={{ objectFit: "cover", height: "360px" }}
                      />
                    )}
                    <h4 class="title mt-4 line-clamp-3">
                      {post.data.title}
                    </h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                    <p class="description text-gray-500 mt-2 mb-4 text-base leading-relaxed">
                      {post.data.description}
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
