---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
const photoCollections = await getCollection("photos");
import "photoswipe/dist/photoswipe.css";
import Header from "../components/Header.astro";

interface GPS {
  lat: number;
  lng: number;
}
function makeOsmUrl(gps: GPS, zoom = 1.1) {
  return `https://www.openstreetmap.org/export/embed.html?bbox=${gps.lng - zoom},${gps.lat - zoom},${gps.lng + zoom},${gps.lat + zoom}&layer=mapnik&marker=${gps.lat},${gps.lng}&hidezoomcontrol=true&hideattribution=true`;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"one"} description={"two"} />
  </head>
  <body>
    <Header />
    <div class="container mx-auto px-4 py-8">
      {
        photoCollections.map((collection) => (
          <div class="mb-8">
            <div class="relative">
              <Image
                src={collection.data.cover}
                alt="Cover Image"
                width={1200}
                height={400}
                format="webp"
                class="w-full h-64 object-cover"
              />
              <div class="absolute bottom-0 left-0 p-4 bg-black bg-opacity-70 inline-block">
                <h1 class="text-2xl font-bold text-white mb-2">
                  {collection.data.name}
                </h1>
                <div class="flex items-center space-x-4">
                  <div class="flex items-center space-x-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                    </svg>
                    <p class="text-xs text-white">{collection.data.gps}</p>
                  </div>
                  <div class="flex items-center space-x-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                      />
                    </svg>
                    <p class="text-xs text-white">{collection.data.date}</p>
                  </div>
                </div>
              </div>
              <div class="absolute bottom-4 right-4 w-40 h-40 bg-white rounded-lg shadow-lg p-2">
                <iframe
                  width="100%"
                  height="100%"
                  frameborder="0"
                  src={makeOsmUrl(collection.data.gps)}
                  allowfullscreen
                />
              </div>
            </div>
            <div class="mt-4">
              <p class="text-lg text-gray-700">{collection.data.description}</p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
              {collection.data.photos.map((photo) => (
                <div class="relative bg-white shadow-md overflow-hidden">
                  <a
                    href={photo.filename.src}
                    data-pswp-width={photo.filename.width}
                    data-pswp-height={photo.filename.height}
                    target="_blank"
                  >
                    <Image
                      src={photo.filename}
                      alt={photo.title}
                      width={600}
                      height={500}
                      format="webp"
                      class="w-full h-64 sm:h-96 object-cover"
                    />
                  </a>
                  <div class="absolute bottom-0 left-0 right-0 p-2 bg-black bg-opacity-70">
                    <p class="text-xs text-white">
                      <strong>{photo.title}</strong> - {photo.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <script>
      import PhotoSwipeLightbox from "photoswipe/lightbox";
      import PhotoSwipe from "photoswipe";
      const lightbox = new PhotoSwipeLightbox({
        gallery: ".grid",
        children: "a", 
        showHideAnimationType: "zoom",
        pswpModule: PhotoSwipe,
      });
      lightbox.init();
    </script>
  </body>
</html>