---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const photoCollections = await getCollection("photos");
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"one"} description={"two"} />
  </head>
  <div class="container mx-auto px-4 py-8">
    <div class="masonry-grid">
      {
        photoCollections.map((collection) => (
          <>
            <div class="collection-header bg-white rounded-lg shadow-lg mb-8 w-full">
              <div class="relative">
                <div class="flex">
                  <div class="w-3/4 relative">
                    <Image
                      src={collection.data.cover}
                      alt="Cover Image"
                      width={900}
                      height={400}
                      format="webp"
                      class="w-full h-96 object-cover rounded-tl-lg"
                    />
                    <div class="absolute bottom-0 left-0 right-0 p-6 bg-gradient-to-t from-black to-transparent">
                      <h1 class="text-4xl font-bold text-white mb-2">
                        {collection.data.name}
                      </h1>
                      <p class="text-xl text-white mb-4">
                        {collection.data.description}
                      </p>
                      <div class="flex items-center space-x-4">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6 text-white"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                          />
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                        </svg>
                        <p class="text-lg text-white">
                          {collection.data.location}
                        </p>
                      </div>
                      <div class="flex items-center space-x-4 mt-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6 text-white"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                          />
                        </svg>
                        <p class="text-lg text-white">{collection.data.date}</p>
                      </div>
                    </div>
                  </div>
                  <div class="w-1/4">
                    <iframe
                      src={collection.data.map_url}
                      width="100%"
                      height="384"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                      class="rounded-tr-lg"
                    />
                  </div>
                </div>
              </div>
            </div>
            {collection.data.photos.map((photo) => (
              <div class="relative bg-white rounded-lg shadow-md overflow-hidden">
                <a
                  href={photo.filename}
                  data-pswp-width={photo.width}
                  data-pswp-height={photo.height}
                  target="_blank"
                >
                  <Image
                    src={photo.filename}
                    alt={photo.title}
                    width={400}
                    height={400}
                    format="webp"
                    class="w-full h-64 object-cover"
                  />
                </a>
                <div class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black to-transparent text-white">
                  <h3 class="text-lg font-semibold mb-1">{photo.title}</h3>
                  <p class="text-sm">{photo.location}</p>
                </div>
              </div>
            ))}
          </>
        ))
      }
    </div>
  </div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import PhotoSwipe from "photoswipe";
    import "photoswipe/dist/photoswipe.css";
    const lightbox = new PhotoSwipeLightbox({
      gallery: ".masonry-grid",
      children: "a",
      showHideAnimationType: "zoom",
      pswpModule: PhotoSwipe,
    });
    lightbox.init();
  </script>

  <style>
    .masonry-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 2rem;
    }

    .collection-header {
      grid-column: 1 / -1;
    }
  </style>
</html>
