---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
const photoCollections = await getCollection("photos");
import "photoswipe/dist/photoswipe.css";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
interface GPS {
  lat: number;
  lng: number;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"one"} description={"two"} />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
  </head>
  <body>
    <Header />
    <div class="container mx-auto px-4 py-8">
      {
        photoCollections.map((collection) => (
          <div class="mb-8">
            <div class="relative">
              <div class="flex gap-4">
                <Image
                  src={collection.data.cover}
                  alt="Cover Image"
                  width={600}
                  height={400}
                  format="webp"
                  class="flex-grow w-full h-64 object-cover"
                />
                <div
                  id={`map-${collection.data.name.toLowerCase().replace(/ /g, "-")}`}
                  class="map-element flex-shrink-0 w-1/4 h-64 bg-gray-200"
                  data-id={`map-${collection.data.name.toLowerCase().replace(/ /g, "-")}`}
                  data-lat={collection.data.gps.lat}
                  data-lng={collection.data.gps.lng}
                />
              </div>
              <div class="absolute bottom-0 left-0 p-4 bg-black bg-opacity-70 inline-block">
                <h1 class="text-2xl font-bold text-white mb-2">
                  {collection.data.name}
                </h1>
                <div class="flex items-center space-x-4">
                  <div class="flex items-center space-x-1 justify-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                    </svg>
                    <span class="text-xs text-ui text-white">{collection.data.location}</span>
                  </div>
                  <div class="flex items-center space-x-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                      />
                    </svg>
                   <FormattedDate class="text-white text-sm" date={collection.data.date} /> 
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <p class="text-lg text-gray-700">{collection.data.description}</p>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
              {collection.data.photos.map((photo) => (
                <div class="relative bg-white shadow-md overflow-hidden">
                  <a
                    href={photo.filename.src}
                    data-pswp-width={photo.filename.width}
                    data-pswp-height={photo.filename.height}
                    target="_blank"
                  >
                    <Image
                      src={photo.filename}
                      alt={photo.title}
                      width={600}
                      height={500}
                      format="webp"
                      class="w-full h-64 sm:h-96 object-cover"
                    />
                  </a>
                  <div class="absolute bottom-0 left-0 right-0 p-2 bg-black bg-opacity-70">
                    <p class="text-xs text-white">
                      <strong>{photo.title}</strong> - {photo.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <footer class="text-gray-500 text-sm text-center">
      <p class="text-sm">
        Map data &copy; <a href="https://www.openstreetmap.org/"
          >OpenStreetMap</a
        > contributors, <a
          href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a
        >, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>
      </p>
    </footer>
    <script>
      import L from "leaflet";
      import PhotoSwipeLightbox from "photoswipe/lightbox";
      import PhotoSwipe from "photoswipe";
      const lightbox = new PhotoSwipeLightbox({
        gallery: ".grid",
        children: "a",
        showHideAnimationType: "zoom",
        pswpModule: PhotoSwipe,
      });
      lightbox.init();

      function initMap(id, lat, lng) {
        const map = L.map(id, {
          zoomControl: false,
          attributionControl: false,
        }).setView([lat, lng], 13);

        L.tileLayer(
          "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
          {
            subdomains: "abcd",
            maxZoom: 20,
          }
        ).addTo(map);

        L.marker([lat, lng]).addTo(map);
      }

      window.onload = function () {
        const mapElements = document.querySelectorAll(".map-element");
        mapElements.forEach((element) => {
          const { id, lat, lng } = element.dataset;
          initMap(id, parseFloat(lat), parseFloat(lng));
        });
      };
    </script>
  </body>
</html>
